@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}


.card {
  width: calc(20% - 20px);
  background-color: rgb(245, 243, 241);
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4%;
}

img {
  width: 100%;
}

.price {
  color: rgb(22, 145, 170);
  font-weight: bold;
}

.details-div {
  padding-left: 10px;
  margin: 10px auto;
}

.card:hover {
  box-shadow: 2px 2px 4px rgb(60, 59, 59);
}
